@{
    ViewBag.Title = "Program";
} 

<!doctype html>
<html>
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no"/>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">

 <!--Using jQuery and jQuery UI for display effects-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>

    <!--Using the hamburger menu display code-->
    <script src="~/js/hamburger.js"></script>
    
    <script src="~/js/modernizr-latest.js"></script>
    
    <!--[if lt IE 9]>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.js"></script>
  <![endif]-->
  
          <script type="text/javascript">
              var utag_data = {
                  brand_name: "AE", // Brand name - prop1 add brand AE or aerie for brand case senitive
                  channel: "", //   Same as brand_name
                  root_category: "rewards", // Root Category - prop2 this is always rewards
                  main_category: "vanity-landing", // Top Level Category (Categories) - prop3 changes based on page or tab so home page would be home_page and if on earnings tab earnings_tab
                  category: "", // Category (Tops) - prop4 next level if there are any other levels for instance in the earnings tab if bounus points were clicka ble
                  sub_category: "", // Sub category (Jeans) - prop5 if used if another level
                  bar_level_category: "", // Bar category (ex Skinny) - prop41  if used if another level
                  server: "rewards", // server static
                  logged_in: "true", // Login status true or false
                  report_suite: "aeoproduction", // add aeoproduction for prod and aeodev for dev
                  page_section_type: "rewards", //  static
                  profileId: "", // AEO Profile ID if adval
                  rewardsId: "", // AEREWARDS ID  if adval
                  customerId: ""// customer ID if adval
              }
    </script>

<!-- Loading script asynchronously -->

<script type="text/javascript">
    (function (a, b, c, d) {
        a = '//tags.tiqcdn.com/utag/americaneagle/main/prod/utag.js';
        b = document; c = 'script'; d = b.createElement(c); d.src = a; d.type = 'text/java' + c; d.async = true;
        a = b.getElementsByTagName(c)[0]; a.parentNode.insertBefore(d, a);
    })();
</script>

<link rel="shortcut icon" href="~/images/favicon.ico"/>
<link rel="apple-touch-icon" href="~/images/72x72_ipadAppIcon.png"/>
<title>Welcome to AEO Rewards</title>
<link rel="canonical" href="index.html"/>
<link rel="stylesheet" href="@Url.Content("~/CSS/aeo.css")" />
<link rel="stylesheet" href="@Url.Content("~/CSS/media.css")" />

</head>

<body class="main">
<div id="container">
	<div align="center" class="header">
		<div class="header_block">
        
        <div id="hamburger">
            	<div></div>
            	<div></div>
            	<div></div>
        	</div>

       	    <div class="header_block_logo"><a href="http://www.ae.com" target="_self" border="0"><img src="~/images/aeo_logo.png" width="115" alt="American Eagle Outfitters" class="aeo_logo" style="border:none"/></a><img src="~/images/aeo_bug.png" width="50" alt="American Eagle Outfitters" class="aeo_bug"/></div>    
        	<div class="header_block_nav">
            	<div class="header_block_nav_link"><a href="http://www.ae.com/web/browse/hp_womens.jsp?catId=womens&navdetail=top:women:p2" target="_self" class="link_nav">WOMEN</a></div>
       		</div>
        	<div class="header_block_nav">
            	<div class="header_block_nav_link"><a href="http://www.ae.com/web/browse/hp_mens.jsp?catId=mens&navdetail=top:men:p3" target="_self" class="link_nav">MEN</a></div>
        	</div>    
        	<div class="header_block_nav">
            	<div class="header_block_nav_link"><a href="http://www.ae.com/web/browse/jeans.jsp?catId=cat7010140&navdetail=top:jeans:p4" target="_self" class="link_nav">JEANS</a></div> 
        	</div>
        	<div class="header_block_nav">
            	<div class="header_block_nav_link"><a href="http://www.ae.com/aerie/index.jsp?catId=cat4840006&navdetail=top:aerie:p5" target="_self" class="link_nav">AERIE</a></div> 
        	</div>   
        	<div class="header_block_nav">
            	<div class="header_block_nav_link"><a href="https://www.ae.com/web/checkout/giftcards/giftCard.jsp?catId=cat7170001" target="_self" class="link_nav">GIFTS</a></div> 
        	</div>   
        	<div class="header_block_nav">
            	<div class="header_block_nav_link"><a href="http://www.ae.com/web/browse/hp_clearance.jsp?catId=clearance&navdetail=top:clearance:p7" target="_self" class="link_nav">CLEARANCE</a></div> 
        	</div>
        </div>
    </div>
    
    <!--START MOBILE NAVIGATION-->
        
        	<nav class="hide_nav">
        	<ul>
            	<li><a href="http://www.ae.com/web/browse/hp_womens.jsp?catId=womens&navdetail=top:women:p2" target="_self" class="menu_a">WOMEN</a></li>
            	<li><a href="http://www.ae.com/web/browse/hp_mens.jsp?catId=mens&navdetail=top:men:p3" target="_self" class="menu_a">MEN</a></li>
            	<li><a href="http://www.ae.com/web/browse/jeans.jsp?catId=cat7010140&navdetail=top:jeans:p4" target="_self" class="menu_a">JEANS</a></li>
            	<li><a href="http://www.ae.com/aerie/index.jsp?catId=cat4840006&navdetail=top:aerie:p5" target="_self" class="menu_a">AERIE</a></li>
            	<li><a href="https://www.ae.com/web/checkout/giftcards/giftCard.jsp?catId=cat7170001" target="_self" class="menu_a">GIFTS</a></li>
            	<li><a href="http://www.ae.com/web/browse/hp_clearance.jsp?catId=clearance&navdetail=top:clearance:p7" target="_self" class="menu_a">CLEARANCE</a></li>
                <li class="menu_x">Program&nbsp;Details</li>
                <li class="menu_c">@Html.ActionLink("FAQs", "ProgramFAQ", "Info")</li>
                <li class="menu_c">@Html.ActionLink("Terms and Conditions", "ProgramTerms", "Info")</li>
                <li><a href="http://www.ae.com/web/help/privacy_policy.jsp?topic=1&navdetail=footer:utility:p3" class="menu_c">Privacy&nbsp;Policy</a></li>
            </ul>
            </nav>
    
        	<!--END MOBILE NAVIGATION-->
    
    <!--The Layer that will be layed over the content
    so that the content is unclickable while menu is shown-->
    <div id="contentLayer"></div>
    
    <div id="content">
    	<div class="aeo_body">
    		<div class="nav_column_1">
        		<div class="nav_column_1_head"><img src="~/images/aeo_rewards.png" alt="AE Rewards" width="137" height="48" style="display:block; min-height:48 !important;"/></div>
            	<div class="nav_column_1_mid">
            		<div style="background-color:#000000; vertical-align:middle; padding:3px 0 3px 10px; font-family:'gotham_bookregular', Helvetica, Arial, sans-serif; font-size:14px; color:#ffffff">Program Details</div>
            	</div>
            	<div class="nav_column_1_mid">
            		<div class="nav_column_1_text">@Html.ActionLink("FAQs", "ProgramFAQ", "Info")</div>
            	</div>
            	<div class="nav_column_1_mid">
            		<div class="nav_column_1_text">@Html.ActionLink("Terms and Conditions", "ProgramTerms", "Info")</div>
            	</div>
            	<div class="nav_column_1_bottom">
            		<div class="nav_column_1_text"><a href="http://www.ae.com/web/help/privacy_policy.jsp?topic=1&navdetail=footer:utility:p3" target="_top">Privacy Policy</a></div>
            	</div>
            </div>
             <div>
<!-------------------------------------
    Content Section Begin
  ------------------------------------->  
<div class="column_2">
    			<div class="column_2_container">
    				<div class="column_2_head">PROGRAM DETAILS</div>
            		<table width="100%" cellspacing="0" cellpadding="0" border="0">
            		<tr>
                    <td class="details_table">Introducing the new AEO Rewards!<br /><br />With our new AEO Rewards program, you can earn  points for every purchase you make at AEO and Aerie. Then watch those points turn into rewards sent right to your inbox* &ndash; it's that easy! Plus your points won't expire!* (Just make one purchase a year.)<br /><br />*See Rewards @Html.ActionLink("Program Terms", "ProgramTerms", "Info") for details.<br /><br />
                    <table cellspacing="0" cellpadding="0" border="0" class="to100pc">
            		<tr>
                    <td class="details_chart1">REWARD BLUE</td>
                    <td class="details_chart2">REWARD SILVER<sup style="font-size:10px; line-height:1px">&dagger;</sup></td>
                    </tr>
                    <tr>
                    <td class="details_chart3">Spend $1 earn 5 Points</td>
                    <td class="details_chart4">Spend $1 earn 9 Points</td>
                    </tr>
                    </table><br />
                                               <sup style="font-size:11px; line-height:1px">&dagger;</sup>Qualify for Reward Silver when you spend $250 or more on in-store purchases in a calendar year<br />
                                               
                                                <ul>
                                                    <li>Earn $5 Rewards</li>
                                                    <li>Buy 5 Jeans & Get 1 Free</li>
                                                    <li>Buy 5 Bras & Get 1 Free</li>
                                                    <li>15% off Birthday Coupon</li>
                                                    <li>Members-Only Sales and Events</li>
                                                </ul>
                                                
                                                Want even more?<br /><br />Open an AEO or Aerie Credit Card account to earn all the same rewards, and more! You'll even earn points faster. Get 15% off<sup style="font-size:11px; line-height:1px">&dagger;&dagger;</sup> your first purchase when you open your AEO or Aerie Credit Card.<br /><br />
                    <table cellspacing="0" cellpadding="0" border="0" class="to100pc">
            		<tr>
                    <td class="details_chart5">REWARD BLUE<br />PLUS CREDIT</td>
                    <td class="details_chart6">REWARD SILVER<sup style="font-size:10px; line-height:1px">&dagger;</sup><br />+ CREDIT</td>
                    </tr>
                    <tr>
                    <td class="details_chart7">Spend $1 earn 8 Points</td>
                    <td class="details_chart8">Spend $1 earn 12 Points</td>
                    </tr>
                    </table><br />
                    
                    <sup style="font-size:11px; line-height:1px">&dagger;</sup>Qualify for Reward Silver when you spend $250 or more on in-store purchases in a calendar year<br />
                                                
                                                <ul>
                                                    <li>Earn $5 Rewards</li>
                                                    <li>1 Bonus Credit toward your Free Jean</li>
                                                    <li>1 Bonus Credit toward your Free Bra</li>
                                                    <li>20% off Birthday Coupon<sup style="font-size:11px; line-height:1px">&dagger;&dagger;&dagger;</sup></li>
                                                    <li>Exclusive Cardholder Events 4 times a year</li>
                                                    <li>Pick one day a year to receive an additional 20% off<sup style="font-size:11px; line-height:1px">&dagger;&dagger;&dagger;</sup>&mdash;You choose the day</li>
                                                    <li>Earn 2 Points per $1 spent with your AEO or Aerie Visa<sup style="font-size:11px; line-height:1px">&reg;</sup> Credit Card everywhere else Visa Credit Cards are accepted</li>
                                                </ul>
                                                
                                                <span style="font-size:11px;">&dagger; &dagger; Subject to credit approval. Exclusions apply. See coupon for details. &dagger; &dagger; &dagger; Purchases subject to credit approval. Account must be open and in good standing to receive 20% off coupons. Must use AEO or Aerie Credit Card to take advantage of this offer.</span><br /><br />
                                                Sign up today! Restrictions may apply. See @Html.ActionLink("terms and conditions", "ProgramTerms", "Info") .<br /><br />
                                               Enroll by signing into your AEO account!<br /><br />
                                               
                      <div class="vanity_button"><a style="color: white" href=@ViewBag.SignInURL>SIGN IN</a></div><br />

                                               
                                               Don't have an AEO account? <a href="https://www.ae.com/web/myaccount/create_account.jsp?navdetail=top:utility:p9" class="link_body">Create&nbsp;an&nbsp;Account</a><br /><span style="font-size:11px; line-height:13px;">If you have a problem signing in or creating an account, contact us at 1.888.232.4535</span></td>

            		</tr>
            		</table>
            
                    
                </div>
<!-------------------------------------
    Content Section End
  ------------------------------------->            

             </div>
    </div>   	
    <div style="clear:both"></div>

   <div class="aeo_footer">
    	<div class="aeo_footer_content1">
        	<div class="aeo_footer_1"><a href="http://www.ae.com/web/help/terms_of_use.jsp?topic=1&navdetail=footer:utility:p1" class="link_footer">TERMS OF USE</a></div><div class="aeo_footer_1"><a href="http://www.ae.com/web/help/privacy_policy.jsp?topic=5&navdetail=footer:utility:p2" class="link_footer">CALIFORNIA COMPLIANCE</a></div><div class="aeo_footer_1"><a href="http://www.ae.com/web/help/privacy_policy.jsp?topic=1&navdetail=footer:utility:p3" class="link_footer">PRIVACY POLICIES</a></div><div class="aeo_footer_1"><a href="http://m.ae.com/web/index.jsp?navdetail=footer:utility:p4" class="link_footer">MOBILE SITE</a></div><div class="aeo_footer_1"><a href="http://www.ae.com/web/sitemap/index.jsp?navdetail=footer:utility:p5" class="link_footer">SITE MAP</a></div><div class="aeo_footer_1"><a href="http://www.ae.com/web/help/brand_protection.jsp?navdetail=footer:utility:p6" class="link_footer">BRAND PROTECTION</a></div><div class="aeo_footer_1"><a href="https://signup.cj.com/member/signup/publisher.cj;jsessionid=abcbUmpk15mUMa9_n257u?cid=4445720"  target="_self" class="link_footer">AFFILIATE PROGRAM</a></div>
        </div>
        <div class="aeo_footer_content2">
        	<div class="aeo_footer_2"><a href="http://www.ae.com/web/lp/tees.jsp?navdetail=footer:utility:p9" class="link_footer">T-SHIRTS</a></div><div class="aeo_footer_2"><a href="http://www.ae.com/web/factory/store.jsp?navdetail=footer:utility:p10" class="link_footer">AEO FACTORY STORE</a></div>
        </div>
        <div class="aeo_footer_content3">
        	<div class="aeo_footer_3">&copy; 2015 AEO Management Co. All&nbsp;Rights&nbsp;Reserved.</div>
        </div>
        <div class="aeo_footer_content4">
        	<img src="~/images/footer_01.png" width="61" height="30" alt=""/><img src="~/images/footer_02.png" width="37" height="30" alt=""/><img src="~/images/footer_03.png" width="106" height="30" alt=""/><img src="~/images/footer_04.png" width="77" height="30" alt=""/><img src="~/images/footer_05.png" width="45" height="30" alt=""/><img src="~/images/footer_06.png" width="61" height="30" alt=""/><img src="~/images/footer_07.png" width="63" height="30" alt=""/>
        </div>
    </div>
    
</div>
</div>
</body>
</html>


